.gg-notes {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 22px;
    border: 2px solid;
    border-radius: 3px;
    color: black;
}

.gg-notes::after,
.gg-notes::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    height: 2px;
    background: currentColor;
    left: 2px
}

.gg-notes::before {
    box-shadow:
        0 4px 0,
        0 8px 0;
    width: 12px;
    top: 2px
}

.gg-notes::after {
    width: 6px;
    top: 14px
}